body {
    margin: 0;
    background: #0d1117;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background: #161b22;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #aaa;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    background: #0d1117;
    color: white;
    border: 1px solid #30363d;
    border-radius: 8px;
    padding: 10px;
    resize: none;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #238636;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #2ea043;
}

#outputBox {
    margin-top: 20px;
    padding: 15px;
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 8px;
}

#outputText {
    white-space: pre-line;
}
